<div class="text"></div>

<form (ngSubmit)='onSubmit()' ngNativeValidate>
  <div class="input">

    <div class="form-group">
      <label for="email">E-Mail</label>
      <input class="form-control" name="email" type="email" [(ngModel)]="auth.email" required>
    </div>

    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input class="form-control" name="password" type="password" [(ngModel)]="auth.password" required>
    </div>
  </div>

  <div class="newAccount">
    <p>Nouveau sur LisT? <a routerLink="signUp">Créer un compte</a></p>
    <button type="submit">Valider</button>
  </div>

</form>
