.text{
  background-color: #ffb677;
  border-radius: 9px 0px 0px 9px;
  width: 50%;
  height: 100%;
}

form{
  width: 50%;
  height: 60%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  button{
    align-self: center;
    margin: 2%;
    font-family: 'Lobster Two', cursive;
    background-color: #005691;
    color: #E8FAF5;
    font-size: 2em;
    border-radius: 15px;
  }
  button:hover{
    box-shadow: 2px 2px .5em #004A7C;
  }
  .newAccount{
    font-size: 0.7em;
    text-align: center;
  }
}
